$bac-fon: #eeeeee;
$tex-bec: #636C81;
$main-text: #404040;
$font-family: "TT Travels", sans-serif;
$c1: #31bb9f;
$c2: #e6f7f3;
$c3: #c8efa0;
$c-border: #e6e5e5;
$c-bg: #F3F6FB;
$c-link: #5987d4;
$c-text: #252525;

$secondary: #5A30F0;
$body-color: #000;
$primary: #000;
