
#__layout > div {
  min-height: 100vh;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
}
.container-page {
  max-width: 750px;
  margin: 0 auto;
}
a {
  font-size: 16px;
  color: rgb(17, 17, 17);
  line-height: 1.6;
  transition: 0.3s;
  &:hover {

  }
}
h1 {
  font-size: rem-calc(76);
  font-family: $font-family;
  color: $main-text;
  line-height: 110%;
  text-align: center;
  font-weight: 400;
  margin-bottom: rem-calc(30);
}
h2 {
  font-size: rem-calc(44);
  font-family: $font-family;
  color: $main-text;
  line-height: 110%;
  text-align: left;
  font-weight: 400;
}

section{
    padding: 40px 0
}