
@font-face {
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 300;
    src:   url('~/assets/fonts/TTTravels-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 400;
    src:   url('~/assets/fonts/TTTravels-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 500;
    src:   url('~/assets/fonts/TTTravels-Medium.ttf') format('truetype')
}
@font-face {
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 600;
    src:   url('~/assets/fonts/TTTravels-DemiBold.ttf') format('truetype')
}
@font-face {
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 700;
    src:   url('~/assets/fonts/TTTravels-Bold.ttf') format('truetype')
}